body {
    background-color: black;
    color: rgb(0, 0, 0);
    display: block;
    margin: 8px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 100px;
}

header{
    border-bottom: solid 2px rgb(42,122,228);
    padding: 25px;
    font-size: 35px;
    color: rgb(2, 92, 202);
}

.chamada{
    background: rgb(23, 91, 238);
    padding-bottom: 75px;
    padding-top: 75px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 45px;
}

p{
    font-size: 25px;
}


.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 15px;
}

.catalogo {
   color: white;
   padding-left: 25px;
   padding-right: 25px;
}

.categoria-videos img{
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover{
    opacity: 1.0;
    border: 1px rgb(2, 92, 202) solid;
}

.catalogo h2{
    color: rgb(23, 91, 238);
}